<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ingresar</servlet-name>
        <servlet-class>Servlets.Ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfil</servlet-name>
        <servlet-class>Servlets.EditarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresupuestarProductos</servlet-name>
        <servlet-class>Servlets.PresupuestarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MUsuario</servlet-name>
        <servlet-class>Servlets.MUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MContrasenia</servlet-name>
        <servlet-class>Servlets.MContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MCorreo</servlet-name>
        <servlet-class>Servlets.MCorreo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfil</servlet-name>
        <url-pattern>/EditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresupuestarProductos</servlet-name>
        <url-pattern>/PresupuestarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MUsuario</servlet-name>
        <url-pattern>/MUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MContrasenia</servlet-name>
        <url-pattern>/MContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MCorreo</servlet-name>
        <url-pattern>/MCorreo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
